/* Zadanie 9.3 */

#carousel {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	border: 3px solid red;
	overflow: hidden;
	position: relative;
	/*display: flex;*/
}

#carousel li {
	width: 400px;
	height: 300px;
	float: left;
}

#carousel ul {
	list-style-type: none;
	padding: 0;
	width: 2000px;
	margin: 0;
}

#btn-wrapper {
	position: absolute;
	top: 45%;
	/*align-self: center;*/
	width: 394px;
	display: flex;
	justify-content: space-between;
}

#btn-wrapper div {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	text-align: center;
	color: #fff;
	padding: 0;
	margin: 0;
}

#btn-wrapper div:hover {
	color: #666;
	cursor: pointer;
}

#indic-wrapper {
	position: absolute;
	width: 400px;
	top: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

#indic-wrapper div {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: #fff;
	margin: 0 5px;
}

#indic-wrapper div:hover {
	background-color: #666;
	cursor: pointer;	
}

.active {
	background-color: red;
}

